# SQL Exploration of Restaurant Data

## Will be performing Data Exploration through Pandas tools and SQL

## Objective:

The objective of this analysis is to provide data insights to future restaurant owners who are planning to open a food delivery store but has no ideas on below business decisions such as: which cuisine types should they do, which zones to choose for their kitchen site to get the most sales, which is the most effective time period of a day to do marketing,etc. To help these restaurant owners, we use SQL to answer these questions:

Which restaurant received the most orders?

Which restaurant saw most sales?

Which customer ordered the most?

Display restaurant name and the category where name starts with s ?

Which is the most liked cuisine?

Which zone has the most sales?

The payment mode used maximum number of times

Restaurant receiving the delivery rating greater than 4

Maximum delivery time taken by restaurant

customer name, restaurant name and the category where category is ordinary and name starts with d

In [1]:
import pandas as pd
import sqlite3

In [2]:
df1 = pd.read_csv('data/Orders.csv', low_memory=False)
df1.head()

,Order ID,Customer Name,Restaurant ID,Order Date,Quantity of Items,Order Amount,Payment Mode,Delivery Time Taken (mins),Customer Rating-Food,Customer Rating-Delivery
0,OD1,Srini,6,1/1/22 23:15,5,633,Debit Card,47,5,3
1,OD2,Revandh,13,1/1/22 19:21,5,258,Credit Card,41,3,5
2,OD3,David,9,1/1/22 23:15,7,594,Cash on Delivery,30,3,4
3,OD4,Selva,4,1/1/22 20:31,5,868,Cash on Delivery,30,3,4
4,OD5,Vinny,4,1/1/22 11:10,4,170,Debit Card,18,4,3

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Order ID                    500 non-null    object
 1   Customer Name               500 non-null    object
 2   Restaurant ID               500 non-null    int64
 3   Order Date                  500 non-null    object
 4   Quantity of Items           500 non-null    int64
 5   Order Amount                500 non-null    int64
 6   Payment Mode                500 non-null    object
 7   Delivery Time Taken (mins)  500 non-null    int64
 8   Customer Rating-Food        500 non-null    int64
 9   Customer Rating-Delivery    500 non-null    int64
dtypes: int64(6), object(4)
memory usage: 39.2+ KB

In [4]:
df2 = pd.read_csv('data/Restaurants.csv', low_memory=False)
df2.head()

   RestaurantID     RestaurantName       Cuisine    Zone  Category
0             1     The Cave Hotel   Continental  Zone B       Pro
1             2          SSK Hotel  North Indian  Zone D       Pro
2             3     ASR Restaurant  South Indian  Zone D  Ordinary
3             4          Win Hotel  South Indian  Zone D  Ordinary
4             5  Denver Restaurant   Continental  Zone D       Pro

In [5]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   RestaurantID    20 non-null     int64
 1   RestaurantName  20 non-null     object
 2   Cuisine         20 non-null     object
 3   Zone            20 non-null     object
 4   Category        20 non-null     object
dtypes: int64(1), object(4)
memory usage: 928.0+ bytes

In [6]:
# Create a connection to an in-memory database
connection = sqlite3.connect(':memory:')

# Read CSV files into SQL tables
df1.to_sql('orders', connection, index=False)
df2.to_sql('restaurants', connection, index=False)

20

Not a large dataset by any means, but will be good for use with beginner sql projects

### Before answering the objective questions, lets start with some of our own questions. Such as:

What is the Total amount of orders?

What is the Total quantity of items sold?

What is the average delivery time?

What is the average rating for food?

In [7]:
#What is the Total amount of orders?

basic1 = """

SELECT SUM("Order Amount") AS total_amount
FROM orders;

"""

total_amount = connection.execute(basic1).fetchone()
print("Total Amount of Orders:", total_amount)

Total Amount of Orders: (299071,)

In [8]:
#What is the Total quantity of items sold?

basic2 = """

SELECT SUM("Quantity of Items") AS total_quantity
FROM orders;

"""

total_quantity = connection.execute(basic2).fetchone()
print("Total Quantity of Items Sold:", total_quantity)

Total Quantity of Items Sold: (2326,)

In [9]:
#What is the average delivery time?

basic3 = """

SELECT AVG("Delivery Time Taken (mins)") AS average_delivery_time
FROM orders;

"""

average_delivery_time = connection.execute(basic3).fetchone()
print("Average Delivery Time:", average_delivery_time)

Average Delivery Time: (30.542,)

In [10]:
#What is the average rating for food?

basic4 = """

SELECT AVG("Customer Rating-Food") AS average_food_rating
FROM orders;

"""

average_food_rating = connection.execute(basic4).fetchone()
print("Average Rating for Food:", average_food_rating)

Average Rating for Food: (3.362,)

### Now that we have answered some basics, lets get further into the exploration and analysis

#### Which restaurant received the most orders?

In [11]:
query1 = """

SELECT r.RestaurantName, COUNT(*) AS OrderCount
FROM orders AS o
JOIN restaurants AS r ON o."Restaurant ID" = r.RestaurantID
GROUP BY r.RestaurantName
ORDER BY OrderCount DESC
LIMIT 1;

"""

most_ordered_restaurant = connection.execute(query1).fetchone()[0]
print("Most ordered restaurant:", most_ordered_restaurant)

Most ordered restaurant: The Cave Hotel

Lets see the top 10 restaurants with most orders as well.

In [12]:
curiousquery1 = """

SELECT r.RestaurantName, COUNT(o."Order ID") AS OrderCount
FROM orders AS o
JOIN restaurants AS r ON o."Restaurant ID" = r.RestaurantID
GROUP BY r.RestaurantName
ORDER BY OrderCount DESC
LIMIT 10;

"""


top_most_ordered_restaurant = connection.execute(curiousquery1).fetchall()
print("Top 10 Most Ordered Restaurants:", top_most_ordered_restaurant)

Top 10 Most Ordered Restaurants: [('The Cave Hotel', 32), ('Ellora', 32), ('Chew Restaurant', 31), ('Willies', 30), ('Veer Restaurant', 29), ('Anand Restaurant', 29), ('Ruchi', 28), ('Win Hotel', 27), ('Zam Zam', 25), ('Sam Hotel', 25)]

#### Which restaurant saw the most sales?

In [13]:
query2 = """

SELECT RestaurantName, SUM("Order Amount") AS TotalSales
FROM orders AS o
JOIN restaurants AS r ON o."Restaurant ID" = r.RestaurantID
GROUP BY RestaurantName
ORDER BY TotalSales DESC
LIMIT 1;

"""

most_sales_restaurant = connection.execute(query2).fetchone()[0]
print("Most sales restaurant:", most_sales_restaurant)

Most sales restaurant: Veer Restaurant

#### Which customer ordered the most?

In [14]:
query3 = """
SELECT "Customer Name", COUNT(*) AS OrderCount
FROM orders AS o
GROUP BY "Customer Name"
ORDER BY OrderCount DESC
LIMIT 1;
"""

most_customer_order = connection.execute(query3).fetchone()[0]
print("Customer with the most orders:", most_customer_order)

Customer with the most orders: Srini

#### Display restaurant name and the category where the name starts with 's'?

In [15]:
query4 = """
SELECT RestaurantName, Category
FROM restaurants
WHERE RestaurantName LIKE 'S%'
"""

restaurants_with_s = connection.execute(query4).fetchall()
for restaurant in restaurants_with_s:
    print("Restaurant Name:", restaurant[0])
    print("Category:", restaurant[1])
    print()

Restaurant Name: SSK Hotel
Category: Pro

Restaurant Name: Sam Hotel
Category: Ordinary

#### Which is the most liked cuisine?

In [16]:
query5 = """

SELECT Cuisine, AVG("Customer Rating-Food") AS AvgFoodRating
FROM orders AS o
JOIN restaurants AS r ON o."Restaurant ID" = r.RestaurantID
GROUP BY Cuisine
ORDER BY AvgFoodRating DESC
LIMIT 1;

"""

most_liked_cuisine = connection.execute(query5).fetchone()[0]
print("Most liked cuisine:", most_liked_cuisine)

Most liked cuisine: North Indian

#### Which zone has the most sales?

In [17]:
query6 = """

SELECT Zone, SUM("Order Amount") AS TotalSales
FROM orders AS o
JOIN restaurants AS r ON o."Restaurant ID" = r.RestaurantID
GROUP BY Zone
ORDER BY TotalSales DESC
LIMIT 1;

"""

most_sales_zone = connection.execute(query6).fetchone()[0]
print("Zone with the most sales:", most_sales_zone)

Zone with the most sales: Zone D

Lets see what are the most sales in each Zone!

In [18]:
curiousquery2 = """

SELECT Zone, SUM("Order Amount") AS TotalSales
FROM orders AS o
JOIN restaurants AS r ON o."Restaurant ID" = r.RestaurantID
GROUP BY Zone
ORDER BY TotalSales DESC

"""

most_sales_all_zone = connection.execute(curiousquery2).fetchall()
print("Zone with the most sales:", most_sales_all_zone)

Zone with the most sales: [('Zone D', 128163), ('Zone B', 77001), ('Zone C', 53074), ('Zone A', 40833)]

#### The payment mode used the maximum number of times?

In [19]:
query6 = """

SELECT "Payment Mode", COUNT(*) AS PaymentCount
FROM orders AS o
JOIN restaurants AS r ON o."Restaurant ID" = r.RestaurantID
GROUP BY "Payment Mode"
ORDER BY PaymentCount DESC
LIMIT 1;


"""

maximum_number_payment = connection.execute(query6).fetchone()[0]
print("Payment mode used maximum amount:",maximum_number_payment)

Payment mode used maximum amount: Debit Card

#### Restaurant receiving the delivery rating greater than 4?

In [20]:
query7 = """
SELECT "Restaurant Name", Category
FROM orders AS o
JOIN restaurants AS r ON o."Restaurant ID" = r."RestaurantID"
WHERE "Customer Rating-Delivery" > 4;
"""

delivery_rating_over_4 = connection.execute(query7).fetchall()

for row in delivery_rating_over_4:
    restaurant_name = row[0]
    category = row[1]
    print("Restaurant with delivery rating over 4:", restaurant_name)
    print("Category:", category)
    print()

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Pro

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Pro

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Pro

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Pro

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Pro

Restaurant with delivery rating over 4: Restaurant Name
Category: Pro

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Pro

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Pro

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Pro

Restaurant with delivery rating over 4: Restaurant Name
Category: Pro

Restaurant with delivery rating over 4: Restaurant Name
Category: Pro

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Pro

Restaurant with delivery rating over 4: Restaurant Name
Category: Pro

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Pro

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Pro

Restaurant with delivery rating over 4: Restaurant Name
Category: Pro

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Pro

Restaurant with delivery rating over 4: Restaurant Name
Category: Pro

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Pro

Restaurant with delivery rating over 4: Restaurant Name
Category: Pro

Restaurant with delivery rating over 4: Restaurant Name
Category: Pro

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Pro

Restaurant with delivery rating over 4: Restaurant Name
Category: Pro

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Pro

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Pro

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Pro

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Pro

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Pro

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

Restaurant with delivery rating over 4: Restaurant Name
Category: Ordinary

#### Maximum delivery time taken by a restaurant?

In [21]:
query8 = """

SELECT "Restaurant Name", MAX("Delivery Time Taken (mins)") AS MaxDeliveryTime
FROM orders AS o
JOIN restaurants AS r ON o."Restaurant ID" = r."RestaurantID"
GROUP BY "Restaurant Name";

"""

result = connection.execute(query8).fetchone()
restaurant_name = result[0]
max_delivery_time = result[1]

print("Restaurant with maximum delivery time:", restaurant_name)
print("Maximum delivery time:", max_delivery_time, "minutes")

Restaurant with maximum delivery time: Restaurant Name
Maximum delivery time: 50 minutes

#### Customer name, restaurant name, and the category where the category is ordinary and name starts with 'd'?

In [22]:
query9 = """

SELECT "Customer Name", "RestaurantName", Category
FROM orders AS o
JOIN restaurants AS r ON o."Restaurant ID" = r."RestaurantID"
WHERE Category = "Ordinary" AND "RestaurantName" LIKE 'D%';

"""

results = connection.execute(query9).fetchall()

for row in results:
    customer_name = row[0]
    restaurant_name = row[1]
    category = row[2]
    
    print("Customer Name:", customer_name)
    print("Restaurant Name:", restaurant_name)
    print("Category:", category)
    print()

Customer Name: Chinny
Restaurant Name: Dave Hotel
Category: Ordinary

Customer Name: Chinny
Restaurant Name: Dave Hotel
Category: Ordinary

Customer Name: Dev
Restaurant Name: Dave Hotel
Category: Ordinary

Customer Name: Dev
Restaurant Name: Dave Hotel
Category: Ordinary

Customer Name: Dev
Restaurant Name: Dave Hotel
Category: Ordinary

Customer Name: Farhan
Restaurant Name: Dave Hotel
Category: Ordinary

Customer Name: Gopal
Restaurant Name: Dave Hotel
Category: Ordinary

Customer Name: Meera
Restaurant Name: Dave Hotel
Category: Ordinary

Customer Name: Revandh
Restaurant Name: Dave Hotel
Category: Ordinary

Customer Name: Revandh
Restaurant Name: Dave Hotel
Category: Ordinary

Customer Name: Sabeena
Restaurant Name: Dave Hotel
Category: Ordinary

Customer Name: Sabeena
Restaurant Name: Dave Hotel
Category: Ordinary

Customer Name: Sabeena
Restaurant Name: Dave Hotel
Category: Ordinary

Customer Name: Srini
Restaurant Name: Dave Hotel
Category: Ordinary

Customer Name: Srini
Restaurant Name: Dave Hotel
Category: Ordinary

Customer Name: Swamy
Restaurant Name: Dave Hotel
Category: Ordinary

Customer Name: Swamy
Restaurant Name: Dave Hotel
Category: Ordinary

Customer Name: Veronica
Restaurant Name: Dave Hotel
Category: Ordinary

Customer Name: Vinny
Restaurant Name: Dave Hotel
Category: Ordinary

Customer Name: Vinny
Restaurant Name: Dave Hotel
Category: Ordinary