# Pandas Exploration of Restaurant Data

### Will be performing Data Exploration and Data Cleaning through Pandas tools and SQL

## Objective:

The objective of this analysis is to provide data insights to future restaurant owners who are planning to open a food delivery store but has no ideas on below business decisions such as: which cuisine types should they do, which zones to choose for their kitchen site to get the most sales, which is the most effective time period of a day to do marketing,etc. To help these restaurant owners, we use SQL to answer these questions:

Which restaurant received the most orders?

Which restaurant saw most sales?

Which customer ordered the most?

Display restaurant name and the category where name starts with s ?

Which is the most liked cuisine?

Which zone has the most sales?

The payment mode used maximum number of times

Restaurant receiving the delivery rating greater than 4

Maximum delivery time taken by restaurant

customer name, restaurant name and the category where category is ordinary and name starts with d

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_rows', None)

In [5]:
df1 = pd.read_csv('data/Orders.csv', low_memory=False)
df1.head()

,Order ID,Customer Name,Restaurant ID,Order Date,Quantity of Items,Order Amount,Payment Mode,Delivery Time Taken (mins),Customer Rating-Food,Customer Rating-Delivery
0,OD1,Srini,6,1/1/22 23:15,5,633,Debit Card,47,5,3
1,OD2,Revandh,13,1/1/22 19:21,5,258,Credit Card,41,3,5
2,OD3,David,9,1/1/22 23:15,7,594,Cash on Delivery,30,3,4
3,OD4,Selva,4,1/1/22 20:31,5,868,Cash on Delivery,30,3,4
4,OD5,Vinny,4,1/1/22 11:10,4,170,Debit Card,18,4,3

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Order ID                    500 non-null    object
 1   Customer Name               500 non-null    object
 2   Restaurant ID               500 non-null    int64
 3   Order Date                  500 non-null    object
 4   Quantity of Items           500 non-null    int64
 5   Order Amount                500 non-null    int64
 6   Payment Mode                500 non-null    object
 7   Delivery Time Taken (mins)  500 non-null    int64
 8   Customer Rating-Food        500 non-null    int64
 9   Customer Rating-Delivery    500 non-null    int64
dtypes: int64(6), object(4)
memory usage: 39.2+ KB

In [7]:
df2 = pd.read_csv('data/Restaurants.csv', low_memory=False)
df2.head()

   RestaurantID     RestaurantName       Cuisine    Zone  Category
0             1     The Cave Hotel   Continental  Zone B       Pro
1             2          SSK Hotel  North Indian  Zone D       Pro
2             3     ASR Restaurant  South Indian  Zone D  Ordinary
3             4          Win Hotel  South Indian  Zone D  Ordinary
4             5  Denver Restaurant   Continental  Zone D       Pro

In [8]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   RestaurantID    20 non-null     int64
 1   RestaurantName  20 non-null     object
 2   Cuisine         20 non-null     object
 3   Zone            20 non-null     object
 4   Category        20 non-null     object
dtypes: int64(1), object(4)
memory usage: 928.0+ bytes

Not a large dataset by any means, but will be good for use with beginner projects

In [10]:
df1.isna().sum()

Order ID                      0
Customer Name                 0
Restaurant ID                 0
Order Date                    0
Quantity of Items             0
Order Amount                  0
Payment Mode                  0
Delivery Time Taken (mins)    0
Customer Rating-Food          0
Customer Rating-Delivery      0
dtype: int64

No null values, gives us the advantage with answering these questions much faster.

Now that we have seen the data, looked into any of the data cleaning, we can now start answering the questions.

#### Which restaurant received the most orders?

#### Which restaurant saw most sales?

#### Which customer ordered the most?

#### Display restaurant name and the category where name starts with s ?

#### Which is the most liked cuisine?

#### Which zone has the most sales?

#### The payment mode used maximum number of times

#### Restaurant receiving the delivery rating greater than 4

#### Maximum delivery time taken by restaurant

#### customer name, restaurant name and the category where category is ordinary and name starts with d#